header{
    background-color:#E5E5E5;
}

h1,h2{
    color:#005677;
}

footer{
    background-color:#005677;
}
footer{
    color:#FFFFFF;
}

html{
    font-family: 'Times New Roman'; margin: -0.7%;
}

.Graycolor{
    background-color:#C4C4C4;
}

